.Title {
  margin-bottom: 20px;
}

.Streaming {
  margin: 20px 10px;
}

.description {
  margin-top: 20px;
}

@media (min-width: 200px) {
  .Top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 8px;
  }

  .Title {
    margin: 10px 0px;
  }

  .description,
  .synopsi {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .Top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .content {
    width: 62%;
  }

  .platform {
    margin: 10px 0px;
  }
}